.awareness {
  padding-left: 1rem;
  border-left: 1rem solid rgba(0, 128, 0, 0.25);
}

.working {
  padding-left: 1rem;
  border-left: 1rem solid rgba(0, 128, 0, 0.5);
}

.practitioner {
  padding-left: 1rem;
  border-left: 1rem solid rgba(0, 128, 0, 0.75);
}

.expert {
  padding-left: 1rem;
  border-left: 1rem solid rgba(0, 128, 0, 1.0);
}
