
.toggleShowAllLevels {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.toggleShowAllLevels:hover {
text-decoration:none;
}

.currentLevel {
  border: 2px solid black;
}
